body{
    background-color: rgb(0, 0, 0);
    background: url(../img/stockvault-paint-splatter143114.jpg) 50% 50% no-repeat;
    color: rgb(255, 255, 255);
}
.header{
    width: 100%;
    height: 11vh;
   /* border: 1px solid rgb(255, 255, 255); */
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.head{
    width: 81%;
    height: 9vh;
   /* border: 1px solid rgb(255, 255, 255); */
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1vh;
    align-items: center;
    justify-content: space-between;

}
.Paint__header{
    width: 30.75%;
    height: 9vh;
   /* border: 1px solid rgb(255, 255, 255); */
    top: 0;
    left: 0;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 2vh;
}
.h1__header{
    font-size: 6vh;
    padding-top: 5vh;
    font-family: 'Original Surfer', cursive;
}
.header__menu{
    width: 43.64%;
    height: 9vh;
   /* border: 1px solid rgb(255, 255, 255); */
    top: 0;
    left: 0;
    margin-left: 35vh; /* Отступ слева */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul.ul__header{
    font-size: 2.5vh;
    text-decoration: none;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: 'Original Surfer', cursive;
    color: white;
}   
ul.ul__header li {
    margin-right: 8vh; /* Отступ слева */
    padding: 1vh;
}
ul.ul__header a{
    color:white;
    text-decoration: none;
}
ul.ul__header li:hover{
    transform: scale(1.5) translate(5%, 5%);
}
.header__cart{
    width: 3%;
    height: 4vh;
   /* border: 1px solid rgb(255, 255, 255);*/
    display: flex;
    justify-content: center;
    align-items: center;

}
.fa-shopping-cart{
    color: #ffffff; /* Цвет иконки */
    text-shadow: 0 0 6px rgb(255, 255, 255); /* Размытая тень */
}
main{
    display: flex;
    align-items: center;
    width: 77%;
    height: 70vh;
    margin-left: 28.2vh;
    margin-top: 4vh;
    top: 0;
    left: 0;
    text-align: center;
    justify-content: space-between;
   /* border: 1px solid white; */
}
.header__text{
    border: 1px solid white;
    width: 27%;
    height: 70vh;
    background-color: rgba(0, 0, 0, 0.712);
    text-align: center;
    align-items: center;
    
}
p{
    font-size: 3vh;
    font-family: 'Original Surfer', cursive;
}
.swiper-container{
width: 70%;
height: 70vh;
border: 1px solid white;
position: relative;
}
.swiper-slide{
    /*border: 1px solid white;*/
    display: flex;
    align-items: center;
}

.Swiper-h1 {
    width: 50%;
    height: 70vh;
    /*border: 1px solid white;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    h1{
        font-size: 7.5vh;
    }
    p{ 
        font-size: x-large;
    }
}
.Swiper-p {
    width: 50%;
    height: 70vh;
    border: 1px solid white;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    background: url(../img/Tamplatee.jpg) ;
    background-color: black;
}
.slide2{
    width: 50%;
    height: 60vh;
    border: 1px solid white;
}
.Swiper-sli2{
    width: 100%;
    height: 69vh;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.Swiper-sli2 h1{
    font-size: 5vh;
}
.swiper-div{
    width: 100%;
    height: 50vh;
    border: 1px solid rgb(255, 255, 255);
    display: flex;
    align-items: center;
    text-align: center;
   
}
.slider-ul{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    justify-content: space-between;
}
ul.slider-ul li{
    list-style-type: none;
    font-size: 2.5vh;
}
li{
    list-style-type: none;
}
h1{
    font-family: 'Original Surfer', cursive;
}
.Swiper-sli3{
    width: 100%;
    height: 69vh;
    border: 1px solid white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    flex-direction: row-reverse;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}
.Swiper-sli3 img{
    width: 18vh;
    height: 15vh;
    left: 0;
    top: 0;
}
.Swiper-sli3 img:hover{
    transition: all 1.1s ease 0.4;
    opacity: 48%;
}
footer{
    width: 3%;
    height: 5vh;
    font-family: 'Original Surfer', cursive;
    /*border: 1px solid white;*/
    align-items: center;
    text-align: center;
    margin-left: 79em;
    margin-top: 4em;
}
